{% extends 'MainTemplates.html' %}
{% load staticfiles %}
{% block AllVideos %}


<br>
<div><h6 style="color:orange;"><a href="../../"> Вернуться на главную страницу</h6> </a></div>
<br>
<br>
    {% for con in content %}
        <iframe width="853" height="480" src={{ con.0.Video_url }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        <a href="/AllVideos/get/{{ con.0.id }}"><h1>{{ con.0.Video_name }}</h1></a>
        <h6>{{ con.0.Video_properties }}</h6>
        <h5>{{ con.0.Video_date }}</h5>

        <img src = "{% static 'like.png' %}" id="id_like" name ="{{ con.0.id }}" width="100px"> </img> <h4 color=white id="count_likes"> {{ con.0.Video_likos }} </h4>
        <hr><br>
        {% for com in con.1 %}
        <h3>{{ com.Comments_text }}</h3>
        {{ com.Comments_date }}
        {% endfor %}
        <hr>
    {% endfor %}
<br>
<div><a href="../../"> Вернуться на главную страницу </a></div>
<br>
<br>
{% endblock %}




