{% extends 'MainTemplates.html' %}
{% load staticfiles %}
{% block OneVideo %}
<br>
<div><a href="../../"> Вернуться ко всем видео </a></div>
<br>
<br>

<iframe width="853" height="480" src={{ video.Video_url }} frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<h5>{{ video.Video_name }}</h5>
    <h6>{{ video.Video_properties }}</h6>
    <h5>{{ video.Video_date }}</h5>
    <img src = "{% static 'like.png' %}" id="id_like" name ="{{ video.id }}" width="100px"> </img> <h4 id="count_likes"> {{ video.Video_likos }} </h4>
<hr><br>
    {% for con in Comments %}
        <h3>{{ con.Comments_text }}</h3>
        <h5>{{ con.Comments_date }}</h5>
        <hr>
    {% endfor %}

    <form action = "/AllVideos/AddComment/{{ video.id }}/" method = "POST"> {% csrf_token %} {{ Form }} <input type="submit" class="button" value="добавить коментарий"> </form>

<br>
<div><a href="../../"> Вернуться ко всем видео </a></div>
<br>
<br>

{% endblock %}